# Ignore node_modules
node_modules/

# Ignore environment variables
.env

# Ignore log files
logs
*.log
npm-debug.log*

# Ignore Vite cache
.vite/

# Ignore build output
dist/

# Ignore Prisma migrations (optional)
prisma/migrations/

# Ignore package-lock files (optional if you're using yarn)
package-lock.json

